body{

	background-color: #ffebcc;
	min-width: 600px;
	
}
.container-fluid{
	background-color:#ffebcc;
	min-width: 700px;
}
.img-responsive{
	padding-top: 5px;
	padding-bottom: 5px;
	max-width: 60px;
	min-width: 20px;
}
.row{
background-color: #Ff9900;
	min-width: 200px;
	min-height: 40px;
}
.Tcor{
	color: white;
}
.V{
	color:#666666;
	font-family: Times;
	font-style: italic;
	font-style: bold;
	font-size: 28px;
}
.container{
	height:500px;
	background-color: #Ffcc80;
	min-width: 750px;
	min-height:400px;
}/*.form-inline{
	margin:auto 100px;
}*/
.form-horizontal{

    margin:auto;  
}.FormGeral{
	width:300px;
	position:absolute;
	top:180px;
	left:40%;

}
.envio{
	width:320px;
	height:10px;
    min-height:320px;
	margin-left:-15px;
}
.form-group{
	width:320px;
	border:1px solid #E68a00;

}
.rodape{
	width:100%;
	height:100px;
	min-width:200px;
	background-color: #E67300;
	border-top:4px solid #666666;

}h3{

	font-family: times;
	font-size: 15px;
	color:white;
}/*.Ali{
	position: absolute;
	margin-top: 5px;
	margin-left: 40%;

}*/