body{
	background-color: #ffebcc;
	min-width: 750px;
	
}
.container-fluid{
	background-color:#ffebcc;
	min-width: 750px;
}
.img-responsive{
	padding-top: 5px;
	padding-bottom: 5px;
	max-width: 60px;
	min-width: 20px;
}
.row{
background-color: #Ff9900;
	min-width: 200px;
	min-height: 40px;
}
.Tcor{
	color: white;
}
.V{
	color:#666666;
	font-family: Times;
	font-style: italic;
	font-style: bold;
	font-size: 28px;
}
.container{
	background-color: #Ffcc80;
	min-width: 750px;
}.form-inline{
	margin:auto 100px;
}.form-horizontal{
	margin-top:50px;
    margin-left:200px;   
}.FormGeral{
	padding-top:10px;
	margin:auto 200px;

}.SecPart{
	width:200px;
	margin-top:20px;
	margin-left:150px;
}.envio{
	width:320px;
    min-height:320px;
	margin-left:-15px;
}
.form-group{
	width:320px;
	border:1px solid #E68a00;
	margin: auto 10px;
}